{% extends 'base.html' %}

{% block body %} 

<div class="container-limit">
<div class="message">
  <p> YOUR PRESENT MONTHLY LIMIT : <span>₹ {{y}}</span> </p>
</div>

<form action="/limitnum" method="POST" class="form-limit">

    <p> ENTER THE MONTHLY LIMIT </p> <br/>
    <input type="number" name="number" required/> <span> 
        <button class="btn btn-dark" type="submit">ENTER</button>
    </span>

</form>
<div class="canvas-limit">
    <div class="col-md-6">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
      <script>
        const ctx = document.getElementById('myChart');
        var d = {{expense_data}};
        console.log(d);
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Food', 'Entertainment', 'Business', 'Rent', 'EMI', 'Other'],
            datasets: [{
              label: 'Categorized Monthly Expenses',
              data: d,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
                ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
              borderWidth: 2
            }]
          },
          options: {
            legend: {
             labels: {
                  fontColor: 'orange'
                 }
              },
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'whitesmoke'
                },
            }],
          xAxes: [{
                ticks: {
                    fontColor: 'whitesmoke'
                },
            }]
        } 
          }
        });
        
      </script> 
</div>

</div>
{% endblock %}