@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");
body
{
    font-family: 'Crimson Pro', serif;
}

.addExpheading
{
    transform: translate(25%,10%);
    font-size : 60px;
}

.btn
{
    transform: translateX(85%);
    height: 100%;
    background-color: greenyellow;
    color: darkgreen;
}

.navbar-custom{
    background-image: linear-gradient(to right, #e9ea2d, greenyellow, #1e8f36);
    min-height: 8vh;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 0px 18px 0 green;
}

.navbar-custom .li-cust{
    padding: 0px 20px;
}
.navbar-custom .li-cust:hover{
    background-color: #000;
    color: greenyellow;
}

.navbar-custom .li-cust .custom-a{
    color: green;
    text-transform: uppercase;
}

.navbar-custom .li-cust .custom-a:hover{
    background-color: #000;
    color: darkgreen;
}

/* add.html */

body{
    background-image: url(../images/BLACK_BG.jpg);
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container-add{
    width: 100vw;
    display: flex;
    color: greenyellow;
    align-items: center;
    justify-content: center;
}

.expense-row{
    background-image: linear-gradient(-10deg, #1e8f36 1%, #0e0f10 20%); 
    border: 2px solid greenyellow;
    margin-top: 5vh;
    padding: 10px 20px;
    width: 120vh;
}

.disp-wrap, .report-wrap h3{
    color: greenyellow;
}
.report-wrap h3{
    margin-bottom: 20px;
}

.last-section{
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section a{
    text-decoration: none;
    color: greenyellow;
    margin: 0 20px;
    font-size: 1.3rem;
    padding: 20px 40px;
    border: 2px solid greenyellow;
}

.last-section a:hover{
    background-color: greenyellow;
    color: darkgreen;
    transition: 0.5s all ease-in-out;
}

.container-limit{
    color: greenyellow;
    padding: 40px;
}

.message{
    font-size:1.8rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.message span{
    color: lightgreen;
}

.form-limit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.form-limit p, .form-limit input, .form-limit button{
    margin: 0px 20px;
}

.form-limit input{
    padding: 5px;
    font-size: 1.1rem;
}

.canvas-limit{
    background-color: #0e0f10;
    border: 2px solid greenyellow;
}

/*edit html*/
.container{
    color: greenyellow;
}
